[project]
	description = San Jose State Final Project repo CMPE295 (Project on cloud goverance)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ashok Aratikatla (ashok942)
[access "refs/for/refs/*"]
	read = group user/Ashok Aratikatla (ashok942)
	push = group user/Ashok Aratikatla (ashok942)
	label-Code-Review = -2..+2 group user/Ashok Aratikatla (ashok942)
	label-Verified = -1..+1 group user/Ashok Aratikatla (ashok942)
	rebase = group user/Ashok Aratikatla (ashok942)
	removeReviewer = group user/Ashok Aratikatla (ashok942)
	submit = group user/Ashok Aratikatla (ashok942)
[access "refs/heads/*"]
	read = group user/Ashok Aratikatla (ashok942)
	create = group user/Ashok Aratikatla (ashok942)
	push = +force group user/Ashok Aratikatla (ashok942)
	pushMerge = group user/Ashok Aratikatla (ashok942)
[access "refs/tags/*"]
	push = group user/Ashok Aratikatla (ashok942)
	push = +force group user/Ashok Aratikatla (ashok942)
